.catalogo-actor-container{
	display:flex;
	align-content: strech;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
}

.catalogo-actor-imagen{
	width: 32px;
	height: 32px;
	border-radius: 100%;
	background-color:red;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	margin-bottom: 4px;
}

.catalogo-actor-texto{
	line-height: 20px;
    padding-left: 10px;
}

#vista_previa{
	width: 200px;
	height: 115px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top:20px
}